.appBar {
  min-width: 400px;
}

.userWithAvatar {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.arrowBackIcon {
  margin-right: 1rem;
  cursor: pointer;
}

.logoutButtons {
  position: absolute;
  right: 5px;
  display: flex;
  gap: 10px;
}
